<section class="row" id="whatis">
    <div class="col-12 col-md-6 text-center d-md-flex align-items-md-center justify-content-md-end">
        <h2>What is Crude Server</h2>
    </div>
    <div class="col-12 col-md-6">
        <p>
            Crude Server is a simple HTTP Server,
            powered by <a href="https://learn.microsoft.com/en-us/dotnet/api/system.net.httplistener?view=net-8.0" target="_blank" class="text-black">.NET HTTPListeners</a>
            looking for a simple alternative to the standard .NET Core Web/API projects provided by Microsoft.<br />
            <br />
            It is not a replacement, but rather a simple alternative for simple projects which do not require the full power of the Web/API projects and all its complexity,
            although it can be used for more complex projects as well (assuming you are willing to put in the extra work).
        </p>
    </div>
</section>