<section class="row" id="why">
    <div class="col-12 col-md-6 text-center d-md-flex align-items-md-center justify-content-md-end">
        <h2>Why did you build Crude Server?</h2>
    </div>
    <div class="col-12 col-md-6">
        <p>
            The simple answer is, because I can. It was not required for any project, but I wanted to see if I could build a simple HTTP Server using 
            .NET that did not use Kestrel or IIS and could run from a simple console application.<br />
            <br />
            It was also a fun project to build and see how far I could take it. It currently is used to host this website and a few other small personal projects.
        </p>
    </div>
</section>