@import "./variables/vars";
@import "./mixins/mixins";

[data-page="in-depth"] {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 40px;
    height: 100%;

    .in-depth-menu {
        .nav {
            .nav-item {
                border-bottom: 1px solid $light-gray;
            }
        }
    }
}