&>header {
    display: flex;
    align-items: center;

    border-bottom: 1px solid $gray;

    nav {
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 20px;
            margin-bottom: 0;

            .logo {
                max-height: 50px;
            }
        }
    }
}