@@layout layout.html

{{#*inline "page-styles"}}
<link href="/css/prism.css" rel="stylesheet">
<link href="/css/in-depth.css" rel="stylesheet">
<script defer src="/js/prism.js"></script>
{{/inline}}



<div data-page="in-depth">
    <nav class="in-depth-menu">
        <ul class="nav d-inline-flex flex-column">
            <li class="nav-item">
                <a class="nav-link text-black" href="/in-depth/start">Getting started</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black" href="/in-depth/commands">Http Commands</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black" href="/in-depth/files">Files</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black" href="/in-depth/views">Views</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black" href="/in-depth/middleware">Middleware</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black" href="/in-depth/authentication">Authentication</a>
            </li>
        </ul>
    </nav>
    <div>
        @@body
    </div>
</div>